* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --white: #fff;
}

a {
  text-decoration: none;
}

body {
  background: rgb(50, 50, 50);
}

body::-webkit-scrollbar{
  width: 7px;
}

body::-webkit-scrollbar-thumb{
  background-color: #ffa500;
  border-radius: 5px;
}

header {
  width: 100%;
  background-image: url(img/conjuntos.png);
  background-color: rgb(50, 50, 50);
  background-blend-mode: soft-light;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.navbar{
  background: linear-gradient(-90deg, #d38312, #a83279);
}

.header__h1 {
  color: var(--white);
  font-size: 5em;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: calc(50% - 4em);
}

.ir-arriba{
  display: none;
  padding: 20px;
  background: linear-gradient(-90deg, #d38312, #a83279);
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.operaciones__h1 {
  color: var(--white);
  text-align: center;
  margin: 1em 0;
}

.nav__ul {
  list-style-type: none;
  background: #8A2387;
  background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);
  background: linear-gradient(to right, #F27121, #E94057, #8A2387);
  text-align: end;
  width: 100%;
}

.nav-item {
  font-size: 1em;
  margin: 3px;
  color: var(--white) !important;
  font-weight: 500;
}

.nav-item:hover{
  font-weight: 600;
  border-bottom: 1px solid var(--white);
}

.card {
  box-shadow: 3px 3px 10px rgb(50, 50, 50);
}

.col-md-4 img{
  width: 100%;
  height: 100%;
}

.col-1{
  width: 25%;
}

.h-100 {
  position: relative;
}

.h-100::before,
.h-100::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  background: var(--white);
  transition: all 0.3s ease;
}

.h-100::before {
  bottom: 0;
  width: 0;
  height: 3px;
}

.h-100::after{
  top: 0;
  width: 3px;
  height: 0;
}

.h-100:hover::after{
  height: 100%;
}

.h-100:hover::before{
  width: 100%;
}

.simbolo {
  font-size: 2em;
}

.footer {
  background-color: rgb(50, 50, 50);
  position: relative;
  bottom: 0;
  margin-bottom: 0;
  padding: 20px;
  border-top: 1px solid var(--white);
}

.footer p{
  color: var(--white);
  text-align: center;
  margin-top: 20px;
}

.contenedor-redes{
  width: 100%;
  text-align: center;
  margin: 10px;
}

.footer .icon-whatsapp, 
.footer .icon-facebook2, 
.footer .icon-instagram{
  color: var(--white);
  margin: 10px;
}

@media screen and (max-width: 800px) {
  .header__h1 {
    font-size: 3em;
  }
  
  .col-1{
    width: 100%;
  }
}